/*=================================================
=            Global Style Declarations            =
=================================================*/

body {
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 300;
}

a {
	color: $pop;
	cursor: pointer;

	&:hover {
		text-decoration: none;
		border-bottom: 1px solid $pop;
		color: $dark;
	}
}

#content {
	min-height: 100vh;
}

.btn-primary {
	border-radius: 0px;
	border: solid 1px $pop;
	background: transparent;
	color: $pop;
	font-size: 10px;
	min-width: 257px;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 2.1px;
	font-family: 'Futura', sans-serif;

	&:hover {
		border: solid 1px white;
		background: $pop;
		color: white;
	}

	&:focus, &:active, &:active:focus {
		background: transparent;
		border: solid 1px $pop;
		color: $pop;
	}

}

.btn {
	&.thinking {
		background-image: url('../images/ajax-loader.gif');
		background-repeat: no-repeat;
		background-position: center;

		// background-color: auto;
	}
}

h1, h2, h3, h4, h5 {
	font-family: "Sentinel SSm A", "Sentinel SSm B";
	font-style: normal;
	font-weight: 700;
	font-weight: bold;
}

h3 {
	font-size: 20px;
}

.go {
	&:after {
		content: "\e080";
		font-family: 'Glyphicons Halflings';
		font-weight: 200;
		font-size: 70%;
		padding-left: 2px;
	}
} 

.error {
	color: red;
}

.footer {
  width: 100%;
  background: #FFF;
  padding: 1em .5em;
  margin-top: 4em;
  font-size: 8px;

  ul {
  	float: right;
  	text-transform: uppercase;
  	letter-spacing: 2.1px;
    li {
      display: inline-block;
      padding: 10px 20px;
    }
  }

  .slash {
  	color: $pop;
  }

  .rr {
  	display: inline-block;
  	padding: 10px 0;
  }
}

footer.container-fluid {
	background: #FFF;
	border-top: 1px solid $content-bg;
	padding: 4em 0;

}

.nopad {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}

ul.dropdown-menu {
	text-align: right;
	width: 240px;
	border-radius: 0px;
	margin: 0;
	border: 0;
}

.pac-container {
  z-index: 9999;
}

.submit-wrapper {
  .form-submit-action,
  .form-submit-topic {
    position: relative;
    &.loading {
      opacity: .2;
    }
  }
  .loader {
    position: absolute;
    top: 40%;
    left: 40%;
    background-image: url(../images/ajax-loader.gif);
    width: 32px;
    height: 32px;
    display: none;

    &.loading {
      display: block;
    }
  }
}

.form-control {
	height: auto;
}

.pagination>.active>a, 
.pagination>.active>a:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span, 
.pagination>.active>span:hover, 
.pagination>.active>span:focus {
	background-color: $pop;
	border-color: $pop;
}

.pagination > li > a, 
.pagination > li > span {
	color: $pop;
}

.load-more {
	// width: 100%;
	margin: 0 auto 45px;
}

.modal-dialog {
  
  &.modal-lg {
    width: 1200px;
    max-width: 90%;
  }

  &.modal-sm {
    width: 650px;
    max-width: 45%;
    margin: 20% auto;

  }

  &.modal-x-sm {
  	width: 400px;
  	max-width: 80%;
  	margin: 20% auto;
  }

  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 21px;
    border-bottom: none;
    z-index: 999;
  }

  .like-button {
  	background: url('../images/facebook-like.jpg') no-repeat;
  	background-size: contain;
  	width: 75px;
  	height: 30.5px;
  	text-indent: -9999px;
  	display: block;

  	@include noHover();
  }
}

.modal[size=xlg] {
	.modal-dialog {
		margin: 54px auto;

		@media (max-width: $mobile) {
			margin: 40px auto;
		}
	}

	.modal-content {
		box-shadow: none;
		border: solid 1px #EEE;
		background: #FFF;
		padding-top: 36px;

		.modal-header,
		.modal-footer {
			text-align: center;
			border: 0;
		}

		.modal-footer {
			display: none;
		}

		h1.tagline {
			margin-left: -14px;
		}

		p {
			text-align: center;
		}

		.welcome {
			font-family: "Sentinel SSm A", "Sentinel SSm B";
			font-size: 20px;
			font-weight: 700;
			text-align: center;
		}

		.close {
			right: 50%;
			color: $pop;
			opacity: 1;
			top: 20px;
		}

		@media (max-width: $mobile) {
			.welcome {
				font-size: 16px;
			}
			.close {
				top: 10px;	
			}

			a {
				margin-top: 20px;

				&.fb {
					margin-top: 60px
				}
			}

			br {
				display: none;
			}
		}
	}
}

.modal-backdrop.in {
	background: #FFF;
	opacity: 0.88;
	filter: alpha(opacity=88);
}


.upvoted {
  color: $pop;
}

.downvoted {
  color: blue;
}

.upvote,
.downvote {
    font-size: 15px;
    cursor: pointer;
    color: $pop;
    padding-right: 3px;

    &.action {
        font-size: 15px;
    }
}

.upvote {
    &:hover {
        color: $dark;
    }
}

// .downvote {
//     &:hover {
//         color: #920832;
//     }
// }

.help {
	color: $pop;
	font-size: 20px;
}

.signin {
	width: 288px;
	text-indent: -9999px;
	height: 62px;
	
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	&.facebook-signin {
		background-image: url('../images/login-with-facebook.png');
	}

	&.google-signin {
		background-image: url('../images/login-with-google.png');
	}
}

.nomargin {
	margin: 0;
}

.warn {
	color: red;
}
/*=====  End of Global Style Declarations  ======*/


/* Header */
header {
	// background: radial-gradient(ellipse 70% 100px, #F0F0F0, $pop);
	background: $grey;

	.alert {
		border-radius: 0px;
	}

	.alert-warning {
		margin-bottom: 0px;
		text-align: center;
	}

	.navbar-collapse {
		text-align: center;
	}

	nav.navbar-default {
		max-width: $content-width;
		margin: 0 auto 0 auto;
		padding: 8px 0;

		&.navbar.navbar-default {
			/* Bootstrap resets */
			margin-bottom: 0px;
			border: none;
			background-color: transparent;
		}

		.navbar-brand {
			background: url('../images/logo-2x.jpg') no-repeat;
			background-size: contain;
			width: 222px;
			text-indent: -9999px;
			height: 16px;

			&:hover {
				border: none;
				opacity: .6;
			}
		}

		.navbar-header {
			padding: 17px 10px 0;
		}

	  	.btn-lg {
	  		padding: 7px 10px;
	  	}
	}



  	img {
  		width: 32px;
    	border-radius: 20px;
  	}

  	li {
  		> a {
  			font-size: 19px;
  			font-family: "Sentinel SSm A", "Sentinel SSm B";
  			font-style: normal;
  			font-weight: 700;
  			font-weight: bold;
  			color: $dark !important;

  			&:hover {
  				border: none;
  				color: $pop !important;
  			}
  		}
  	}

  	button.dd {
  			font-size: 19px;
  			font-family: "Sentinel SSm A", "Sentinel SSm B";
  			font-style: normal;
  			font-weight: 700;
  			font-weight: bold;
  			color: $dark !important;
  			background: transparent;
  			border: none;
  			padding-top: 7px;

  			&:hover {
  				border: none;
  				color: $pop !important;
  			}

  			&.btn-group.open .dropdown-toggle  {
  				box-shadow: 0;
  			}

  			& .glyphicon-menu-right {
  				color: $pop;
  				font-size: 11px;
  			}
  		}

  	.icon {
  		padding: 0;

	    a {
	    	line-height: 50px;
	    	padding: 0 20px 0 0;

	    	img {
	    		&:hover {
	    			border: solid 1px $pop;
	    		}
	    	}
	    }
  	}

  	.navbar-toggle {
  		margin-top: 0px;
  	}

  	.navbar-brand {
  		@media (max-width: $mobile) {
  			margin-top: 8px;
  		}
  	}

  	.btn-submit-topic {
  		margin: .5em 1em;
  		color: $pop !important;
  		font-family: 'Futura', sans-serif;
  	}

  	.help {
  		float: right;
  		margin-top: 15px;
  	}

  	.popular-tags {
  		background: white;
		border: solid 1px $grey;
  		.inner {
  			margin: 0 auto;
  			max-width: $content-width;

  			@media(max-width: $mobile) {
  				width: 300%;
  			}
  		}

		.popular-tag {
			display: block;
			padding: 12px 0;
			width: 8%;
			margin: 0 1%;
			text-align: center;
			color: #4cc2c4;
			text-transform: uppercase;
			letter-spacing: 2.1px;
			font-size: 10px;
			white-space: nowrap;
			overflow: hidden;
			float: left;
			text-overflow: ellipsis;

			@media(max-width: $mobile) {
				padding: 8px 3px;
				// overflow-wrap: break-word;
			}
			
			&:hover {
				border: none;
				color: $dark;
				background: white;

				// border-bottom: solid 2px black;
			}
		}

		@media(max-width: $mobile) {
			overflow: auto;
		}
  	}

  	.social {
		position: absolute;
		left: 47%;
		top: 14px;
  	}

  	.share {
  		border: solid 1px #d8dcdd;
  		border-radius: 60px;
  		width: 39px;
  		height: 39px;
  		display: block;
  		text-indent: -9999px;
  		margin-right: 7px;
  		background-repeat: no-repeat;
  		background-size: 24px;
  		background-position: center center;
  		float: left;
  		background-color: #fff;

  		&.facebook {
  			background-image: url('../images/share-facebook-2x.jpg');
  		}

  		&.twitter {
  			background-image: url('../images/share-twitter-2x.jpg');
  		}

  		&:hover {
  			border-color: $pop;
  		}

  	}

  	.search {
  		margin: 0 10px;
  	}
  	
  	.search-overlay-bg {
  		width: 100%;
  		height: 100vh;
  		background: #000;
  		opacity: .9;
  		z-index: 9995;
  		position: absolute;
  	}

  	.search-overlay {
  		display: none;
  		width: 100%;
  		height: 100vh;
  		position: absolute;
  		z-index: 9997;


  		p {
  			margin: .5em 0;
  		}

  		&.active {
  			display: block;
  		}
  		
  		.form-group {
  			width: 100%;
  		}


  		form {
  			position: absolute;
  			top: 20%;
  			left: 0;
  			right: 0;
  			margin: 0 auto;
  			display: inline-block;
  			z-index: 9998;
  			width: 85%;
  			transition: top .5s linear;

  			.form-control {
  				width: 100%;
  			}


  			&.results {
  				top: 5%;

  				input[type=text] {
  					font-size: 25px;
  					height: 50px;
  					transition: font .5s;
  				}
  			}

	  		input[type=text] {
	  			height: 100px;
	  			border: none;
	  			font-size: 50px;
	  			border-radius: 0px;
	  			transition: height .5s;
	  		}

	  		input[type=submit],
	  		button {
	  			display: none;
	  		}
  		}

  		.search-results {
  			margin-top: 25px;
  			max-height: 75vh;
  			overflow: auto;

  			li {
  				margin: 1em 0 0 0;
  			}
  		}

  		a {
  			color: #FFF !important;
  		}
  	}
}

.container-fluid {
	max-width: $content-width;
	background: $content-bg;

	&.featured {
		background: transparent;
	}
}


/* homepage */
.tagline-wrapper {
	text-align: center;
}

h1.tagline {
	margin: 58px auto;
	font-family: "Sentinel SSm A", "Sentinel SSm B";
	font-style: normal;
	font-weight: 700;
	font-weight: bold;
	display: inline-block;

	strong {
		color: $pop;
		cursor: pointer;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: -2px;
			left: 0;
			background-color: $pop;
			visibility: hidden;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transition: all 0.2s ease-in-out 0s;
			transition: all 0.2s ease-in-out 0s;
		}
	}

	.react {
		@include transition(opacity .25s);
	}

	&:hover {
		.react {
			opacity: .5;
		}

		strong {
			&:before {
				visibility: visible;
				-webkit-transform: scaleX(1);
				transform: scaleX(1);
			}
		}
	}
}

.banner {
	padding: 0;
	min-height: 470px;

	&:not(:first-child,:last-child) {
		padding: 0 10px;
	}
	.banner-image {
		width: 100%;
		height: 192px;
		display: block;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		@include noHover();
	}

	.banner-label {
		font-size: 10px;
		text-transform: uppercase;
		letter-spacing: 2.1px;
		margin: 24px 0 31px;
		display: inline-block;
		font-weight: 700;
		color: $dark;
	}

	.banner-meta {
		font-size: 10px;
		text-transform: uppercase;
		letter-spacing: 2.1px;
		position: absolute;
		bottom: 19px;
		width: 100%;
		left: 0;
	}

	.banner-copy {
		background: $content-bg;
		padding: 0 20px 25px;
		min-height: 204px;
		max-height: 204px;
		overflow: hidden;
		position: relative;

		h3 a {
			color: $dark;
		}
	}

	&.national {
		.more {
			width: calc(100% - 20px);
		}
	}
	
	.more {
		position: absolute;
		width: 100%;
		a {
			display: block;
			padding: 18px 0 21px;
			background: $content-bg;
			margin: 8px 0;
			text-transform: uppercase;
			letter-spacing: 2.1px;
			font-family: "Sentinel SSm A", "Sentinel SSm B";
			font-style: normal;
			font-weight: 700;
			font-weight: bold;
			letter-spacing: 1px;

			&:hover {
				color: $dark;
			}

			@media (min-width: $mobile) {
				&.refiltered {
					@include transition(all 5s);
					height: 75px;
					margin-bottom: 0px;
				}
			}

			@include noHover();
		}
	}

	h3 {
		font-size: 17px;
		line-height: 25px;
		margin-top: 0;
	}


	&.unfiltered {
		opacity: .3;
	  	@include transition(opacity .25s ease-in-out);
	}
}

.topics {
	.topic-image {
		display: block;
		float: left;
		margin-right: 2%;
		width: 33%;
		height: 200px;
		max-height: 200px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;

		@include noHover();
	}

	.topic-right {
		display: inline-block;
		float: left;
		width: 65%;
	}

	.topic-score {
		text-align: center;
	}

	h3.score {
		margin: 0;
	}


	.top {
		margin: 2em 0;
	    border-bottom: solid 3px #fff;
	    padding: 0 0 2em 0;
	    // text-transform: uppercase;
	    letter-spacing: 2.1px;

	    .filters {
			display: inline-block;
			float: right;
			text-transform: uppercase;
			text-spacing: 1px;
			font-size: 10px;

			.filter {
				margin-right: 10px;
			}
	    }
	}

	h2.trending {
		display: inline;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 2.1px;
		padding: 40px 0 20px 0;
		margin: 0 0 34px 0;

		// border-bottom: 3px solid white;
		// width: 100%;
		color: $dark;
		font-family: 'Futura', sans-serif;
		font-weight: bold;
	}

	.col-md-1, .col-lg-1 {
		padding: 80px 0 0 35px;
		span, h3 {
			color: $pop;

			&:hover {
				color: $dark;
			}
		}
	}

	.topic-content {
		border-bottom: 3px solid white;
		padding-bottom: 45px;
		margin-bottom: 45px;
	}

	.topic-right {
		font-size: 10px;
		letter-spacing: 1px;
		text-transform: uppercase;
		letter-spacing: 2.1px;

		h4 {
			text-transform: none;
			line-height: 24px;
			margin-top: 0;
			letter-spacing: 0px;
			a {
				color: $dark;
			}
		}
	}

	.tag {
		display: inline-block;
		padding-right: 5px;
		.last {
			display: none;
		}
	}

	aside {
		margin: 2em 0;
	}

	.view-article {
		// font-family: 'Sentinel', serif;
		font-weight: bold;
	}

	.pagination {
		float: right;
		padding-right: 100px;
	}
}


/* topic page */
.topic-detail {
	.topic-page {
		h1 {
			a {
				color: $dark;
			}
		}
		&.container-fluid {
			background: transparent;
			margin-top: 48px;
		}

		.scope {
			text-transform: uppercase;
			letter-spacing: 2.1px;
		}

		img {
			width: 100%;
		}

		h1 {
			margin: 0 0 .5em 0;
		}

		.topic-score {
			text-align: right;
			color: $pop;

			h3 {
				margin: 0 2px 0 0;
				font-size: 32px;
			}
		}

		.centered {
			float: none;
			margin: 0 auto;
		}

		aside {
			margin:  0 0 13px 0;
			text-transform: uppercase;
			letter-spacing: 2.1px;
			font-size: 10px;

		}

		.topic-scope {
			font-size: 12px;
			font-weight: 700;
			margin-bottom: 5px;
			display: block;
		}


		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin: 0;
				padding: 0;
				list-style: none;			
			}
		}

		p.description {
			margin: 20px 0 40px 0;
			font-size: 16px;
		}

		.topic-image {
			display: block;
			width: 100%;
			max-height: 330px;
			height: 330px;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;

			@include noHover();
		}

		.map {
			height: 0px;
			@include transition(all .5s);
			overflow: hidden;
			display: block;
			margin-top: 10px;
			&.show {
				height: 175px;
			}
		}


		img {
			width: 100%;
		}
	}

	.topic-action {
		h3 {
			margin-top: 0;
			font-weight: 500;
			a {
				color: $dark;
			}
		}

	}

	h2 {
		display: inline-block;
	}

	.participate {
		a {
			float: right;
		}
	}
	
	
	.actions {
		background: $content-bg;
		padding-top: 130px;
		margin-top: -85px;

		.score {
			text-align: center;
			h3, span {
				color: $pop;
			}

			h3 {
				margin-top: 10px;
			}
		}

		.action {
			padding: 1em 0;

			a {
				// color: $secondary;
			}

			&.ended {
				background: #DDD;
				opacity: .2;
			}

			&.selected {
				background-color: #AD310B;
	        	@include transition(background-color 1000ms linear);
			}
		}

		aside {
			font-size: 10px;
			text-transform: uppercase;
			letter-spacing: 2.1px;
			// padding-bottom: 1em;
		}

		.tag {
			display: inline-block;
			padding-right: 5px;
			.last {
				display: none;
			}
		}
	}

	.action-list-title {
		border-bottom: 3px solid #FFF;
		padding-bottom: 45px;
		margin: 5px 0 45px 0;

		.help {
			float: right;
			margin-top: 30px;
			padding-left: 10px;
		}

		.way {
			color: $pop;
		}
	}

	.share {
		border: solid 1px #d8dcdd;
	    border-radius: 60px;
	    width: 59px;
	    height: 59px;
	    display: block;
	    text-indent: -9999px;
	    margin-top: 20px;
	    background-repeat: no-repeat;
	    background-size: 40px;
	    background-position: center center;

		&.facebook {
			background-image: url('../images/share-facebook-2x.jpg');
		}

		&.twitter {
			background-image: url('../images/share-twitter-2x.jpg');
		}

		&:hover {
			border-color: $pop;
		}

	}

	a.submit-action {
		float: right;
		margin-top: 15px;
		color: white;
		background: $pop;

		&:hover {
			background: white;
			color: $pop;
		}
	}

	.share-label {
		@media (max-width: $mobile) {
			display: none;
		}
	}

	.pagination {
		float: right;
		// padding-right: 100px;
	}
}

/*=================================
=            User page            =
=================================*/

.unapproved-actions {
	margin-bottom: 2em;
	border-bottom: solid 3px white;
}

.user-image {
	display: inline-block; 
	float: left;
}

/*=====  End of User page  ======*/


/*===================================
=            Form styles            =
===================================*/
.submit-wrapper {
	background: transparent;
}

.topic-submit {
  opacity: 0;
  @include transition(opacity .5s);
  visibility: hidden;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

label.required {
  &:after {
    padding-left: 2px;
    content:"*";
    color:red;
  }
}

.preview-image {
	// min-height: 350px;
	width: 100%;
}

.directions {
	border-bottom: solid 1px #29b4cf; 
	display: inline-block;
}

.scope-icon {
	width: 100%;
	text-align:center;
	display: inline-block;
	height: 50px;
	font-size: 30px;
	color: $dark;
	cursor: pointer;
  	background: $pop;
  	padding: 10px;
  	text-align: center;
  	border-radius: 5px;
  	color: white;
  	font-weight: bold;

  	&:active, &:focus, &:active:focus {
  		background: white;
  		color: $pop;
  		border: solid 2px $pop;
  	}
}

.step2 {
	border-left:  solid 2px #bbb;
	margin-bottom: 2em;
	padding-left: 1em;
	min-height: 480px;
}

.address {
	opacity: 0;
	@include transition(opacity .5s);
	visibility: hidden;
	height: 0px;
	&.show {
	  opacity: 1;
	  visibility: visible;
	  height: auto;
	}
}

.scope-label {
	font-weight: bold; 
	text-transform: capitalize; text-align: center;
	padding: 10px 15px;
	
	&.local {
		text-align: left;
	}

	&.national {
		text-align: center;
	}

	&.worldwide {
		text-align: right;
	}
}

/*=====  End of Form styles  ======*/


/*========================================
=            mobile overrides            =
========================================*/

@media (max-width: $mobile) {
	/*----------  global overrides  ----------*/
	.row {
		margin: 0;
	}

	.btn-lg, .btn-primary {
		display: block;
		width: 100%;
		min-width: 100%;
	}

	header nav.navbar-default .navbar-header {
		padding: 7px 0 0 30px;

	}

	header .btn-lg {
		width: 50%;
		min-width: 50%;
	}

	header li.icon a {
		padding-left: 15px;
	}

	.navbar-default .navbar-toggle:focus {
		background: transparent;
	}

	.signin {
		width: 100%;
		padding: 0;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	header .navbar-collapse {
		text-align: left;
	}

	header form.navbar-form {
		display: inline-block;
		border: none;

	}

	header .social {
		float: right;
	    margin-top: 20px;
	    position: relative;
	    left: 0;
	    top: 0;
	}

	header .navbar-collapse.in {
		overflow-y: visible;
	}

	header .dropdown.open .tooltip {
		display: none;
	}

	header .navbar-default .navbar-collapse {
		border: 0;
	}


	footer.container-fluid, .footer {
		border: none;
		border-top: none;
		margin-top: 0em;
		padding: 2em 0;
	}

	.footer ul {
		float: none;
		text-align: center;
	}

	.footer .rr {
		display: block;
		margin: 1em 0;
		text-align:center;
	}
	/*----------  homepage  ----------*/
	h1.tagline {
		font-size: 22px;
		margin: 20px 0;
	}

	.topics .topic-content {
		border-bottom: none;
	}

	.topics .col-md-1, .topics .col-lg-1 {
		padding: 20px 0;
	}

	.topics .topic {
		border-bottom: 3px solid white;
		position: relative;
		margin: 2em 0;
	}

	.topics .topic-image {
		background-size: cover;
	}

	.topics aside {
		overflow: hidden;
		margin: 1em 0;
	}

	.topics .top .filters {
		float: none;
		padding: 20px 0 0;
	}

	.topics .top {
		padding: 0 0 1em 0;
		margin-bottom: 0;
	}

	.topics .topic-score {
		position: absolute;
		left: 20px;
		top: 195px;
	}

	.topics .topic-content a {
		width: 100%;
	}

	.topics .topic-content .topic-right {
		float: right;
		padding-top: 20px;
		width: 80%;
	}

	.topics .pagination-wrapper {
		text-align: center;
	}

	.topics .pagination {
		padding-right: 0px;
		float: none;
	}

	.topics .view-article {
		margin: 2em 0;
	}

	.featured {
		overflow-x: auto;
		overflow-y: hidden;
		padding: 0;

		.banner-wrapper {
			width: 250%;
		}
	}

	.banner {
		min-height: 255px;
	}

	.banner h3 {
		font-size: 10px;
		line-height: 15px;
	}

	.banner .banner-label {
		margin: 15px 0;
	}

	.banner .more {
		display: none;
	}

	.banner .banner-image {
		height: 122px;
	}

	.banner .banner-copy {
		min-height: 124px;
		max-height: 124px;
	}

	/*----------  detail page  ----------*/
	.topic-detail .topic-score {
		display: none;
	}


	.topic-detail .action-list-title {
		border: none;
		text-align: center;

		.btn-lg	{
			width: 70%;
			min-width: 75%;
			float: none;
			margin: 20px auto 0;
		}
	}

	.modal-dialog.modal-sm {
	  width: 95% !important;
	  max-width: 95%;
	}

	.topic-main h1 {
		font-size: 24px;
	}

	.topic-detail .action-list-title {
		margin-bottom: 0px;
	}

	.action-list-title h2 {
		font-size: 22px; 
		border-bottom: 3px solid #fff;
		padding-bottom: 30px;
	}

	.topic-detail .share {
		width: 25px;
		height: 25px;
		display: inline-block;
		margin-right: 10px;
		line-height: 30px;
		background-size: 15px;
	}

	.topic-detail .actions {
		background: #f0f0f0;
	    margin-top: 40px;
	    padding-top: 0px;	
	}

	.topic-detail .topic-page aside {
		margin: 0 0 10px 0;
		display: inline-block;
		padding-right: 20px;
	}

	.topic-detail .topic-page.container-fluid {
		margin-top: 12px;
	}

	.topic-detail .topic-page .share {
		margin: 10px 10px 10px 0;
	}

	.topic-detail .topic-action h3 {
		// margin-top: 1em;
	}

	.topic-detail img {
		display: none;
	}

	.participate {
		float: right;
		// margin-right: 90px;
	}

	.topic-detail .actions .action {
		border-bottom: solid 3px #fff;
		padding-bottom: 2em;
	}

	/*----------  User page  ----------*/
	
	#user-controller div.user-banner-inner {
		padding: 30px 0;
	}

	.user-image {
		float: none;
		text-align: center;
	}

	/*----------  form styles  ----------*/
	.preview-image {
		min-height: auto;
		width: 100%;
	}

	.directions {
		border-bottom: none;
	}

	.step2 {
		border-left: none;
		border-top: solid 2px #bbb;
		padding: 2em 0;
		margin: 2em 0;

	}
	
}

/*=====  End of mobile overrides  ======*/




