/*=================================================
=            Global Style Declarations            =
=================================================*/
body {
	font-family: 'Futura', sans-serif;
}

a {
	color: $pop;
	cursor: pointer;

	&:hover {
		text-decoration: none;
		border-bottom: 1px solid $pop;
	}
}

#content {
	min-height: 100vh;
}

.btn-primary {
	border-radius: 0px;
	border: solid 1px $pop;
	background: transparent;
	color: $pop;
	font-size: 10px;
	min-width: 257px;
	line-height: 22px;
	text-transform: uppercase;
	font-family: 'Futura', sans-serif;

	&:hover {
		border: solid 1px white;
		background: $pop;
		color: white;
	}

}

h1, h2, h3, h4, h5 {
	font-family: "Sentinel SSm A", "Sentinel SSm B";
	font-style: normal;
	font-weight: 700;
	font-weight: bold;
}

h3 {
	font-size: 20px;
}

.go {
	&:after {
		content: "\e080";
		font-family: 'Glyphicons Halflings';
		font-weight: 200;
		font-size: 70%;
		padding-left: 2px;
	}
} 

.footer {
  width: 100%;
  background: #FFF;
  padding: 1em .5em;
  margin-top: 4em;
  font-size: 8px;

  ul {
  	float: right;
  	text-transform: uppercase;
    li {
      display: inline-block;
      padding: 10px 20px;
    }
  }

  .slash {
  	color: $pop;
  }
}

footer.container-fluid {
	background: #FFF;
	border-top: 1px solid $content-bg;
	padding: 4em 0;

}

.nopad {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}

ul.dropdown-menu {
	text-align: right;
	width: 240px;
	border-radius: 0px;
	margin: 0;
	border: 0;
}

.pac-container {
  z-index: 9999;
}

.submit-wrapper {
  .form-submit-action,
  .form-submit-topic {
    position: relative;
    &.loading {
      opacity: .2;
    }
  }
  .loader {
    position: absolute;
    top: 40%;
    left: 40%;
    background-image: url(../images/ajax-loader.gif);
    width: 32px;
    height: 32px;
    display: none;

    &.loading {
      display: block;
    }
  }
}

.form-control {
	height: auto;
}

.pagination>.active>a, 
.pagination>.active>a:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span, 
.pagination>.active>span:hover, 
.pagination>.active>span:focus {
	background-color: $pop;
	border-color: $pop;
}

.pagination > li > a, 
.pagination > li > span {
	color: $pop;
}

.modal-dialog {
  
  &.modal-lg {
    width: 1200px;
    max-width: 90%;
  }

  &.modal-sm {
    width: 650px;
    max-width: 45%;
    margin: 20% auto;

  }

  &.modal-x-sm {
  	width: 400px;
  	max-width: 80%;
  	margin: 20% auto;
  }

  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 21px;
    border-bottom: none;
    z-index: 999;
  }
}

.upvoted {
  color: orange;
}

.downvoted {
  color: blue;
}

.upvote,
.downvote {
    font-size: 15px;
    cursor: pointer;
    color: #222;
    padding-right: 2.5px;

    &.action {
        font-size: 15px;
    }
}

.upvote {
    &:hover {
        color: #F3902A;
    }
}

.downvote {
    &:hover {
        color: #920832;
    }
}

.help {
	color: $pop;
	font-size: 20px;
}

.signin {
	width: 288px;
	text-indent: -9999px;
	height: 62px;
	
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	&.facebook-signin {
		background-image: url('../images/login-with-facebook.png');
	}

	&.google-signin {
		background-image: url('../images/login-with-google.png');
	}
}

.nomargin {
	margin: 0;
}
/*=====  End of Global Style Declarations  ======*/


/* Header */
header {
	// background: radial-gradient(ellipse 70% 100px, #F0F0F0, $pop);
	background: #f0f0f0;

	.alert {
		border-radius: 0px;
	}

	.alert-warning {
		background: $pop;
		color: white;
		text-align: center;
		border-color: $pop;
	}

	nav.navbar-default {
		max-width: $content-width;
		margin: 0 auto 0 auto;
		padding: 8px 0;

		&.navbar.navbar-default {
			/* Bootstrap resets */
			margin-bottom: 0px;
			border: none;
			background-color: transparent;
		}

		.navbar-brand {
			background: url('../images/logo-2x.jpg') no-repeat;
			background-size: contain;
			width: 222px;
			text-indent: -9999px;
			height: 16px;

			&:hover {
				border: none;
			}
		}

		.navbar-header {
			padding: 17px 10px 0;
		}

	  	.btn-lg {
	  		padding: 7px 0;
	  	}
	}

  	img {
  		width: 32px;
    	border-radius: 20px;
  	}

  	li {
  		> a {
  			font-size: 19px;
  			font-family: "Sentinel SSm A", "Sentinel SSm B";
  			font-style: normal;
  			font-weight: 700;
  			font-weight: bold;
  			color: $dark !important;

  			&:hover {
  				border: none;
  				color: $pop !important;
  			}
  		}
  	}

  	button.dd {
  			font-size: 19px;
  			font-family: "Sentinel SSm A", "Sentinel SSm B";
  			font-style: normal;
  			font-weight: 700;
  			font-weight: bold;
  			color: $dark !important;
  			background: transparent;
  			border: none;

  			&:hover {
  				border: none;
  				color: $pop !important;
  			}

  			&.btn-group.open .dropdown-toggle  {
  				box-shadow: 0;
  			}
  		}

  	.icon {
  		padding: 0;

	    a {
	    	line-height: 50px;
	    	padding: 0 20px 0 0;
	    }
  	}

  	.navbar-toggle {
  		margin-top: 0px;
  	}

  	.navbar-brand {
  		@media (max-width: $mobile) {
  			margin-top: 8px;
  		}
  	}

  	.btn-submit-topic {
  		margin: .5em 1em;
  		color: $pop !important;
  		font-family: 'Futura', sans-serif;
  	}

  	.help {
  		float:right;
  		margin-top: 15px;
  	}
}

.container-fluid {
	max-width: $content-width;
	background: $content-bg;

	&.featured {
		background: transparent;
	}
}


/* homepage */
h1.tagline {
	margin: 58px 0;
	font-family: "Sentinel SSm A", "Sentinel SSm B";
	font-style: normal;
	font-weight: 700;
	font-weight: bold;

	strong {
		color: $pop;
		cursor: pointer;
	}
}

.banner {
	padding: 0;
	min-height: 470px;

	&:not(:first-child,:last-child) {
		padding: 0 10px;
	}
	.banner-image {
		width: 100%;
		height: 192px;
		display: block;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.banner-label {
		font-size: 10px;
		text-transform: uppercase;
		padding: 24px 0 31px;
		display: inline-block;
	}

	.banner-meta {
		font-size: 8px;
		text-transform: uppercase;
	}

	.banner-copy {
		background: $content-bg;
		padding: 0 20px 25px;
		min-height: 204px;
		max-height: 204px;
		overflow: hidden;

		h3 a {
			color: $dark;
		}
	}

	&.national {
		.more {
			width: calc(100% - 20px);
		}
	}
	
	.more {
		position: absolute;
		width: 100%;
		a {
			display: block;
			padding: 18px 0;
			background: $content-bg;
			margin: 8px 0 20px;
			text-transform: uppercase;
			font-family: "Sentinel SSm A", "Sentinel SSm B";
			font-style: normal;
			font-weight: 700;
			font-weight: bold;
			letter-spacing: 1px;

			@media (min-width: $mobile) {
				&.refiltered {
					transition: all 5s;
					height: 75px;
					margin-bottom: 0px;
				}
			}
		}
	}

	h3 {
		font-size: 17px;
		line-height: 25px;
		margin-top: 0;
	}
}

.topics {
	.topic-image {
		// max-width: 325px;
		display: inline-block;
		float: left;
		margin-right: 2%;
		width: 33%;

		img {
			width: 100%;
		}
	}

	.topic-right {
		display: inline-block;
		float: left;
		width: 65%;
	}

	.topic-score {
		text-align: center;
	}

	h3.score {
		margin: 0;
	}

	h3.trending {
		font-size: 14px;
		text-transform: uppercase;
		padding: 40px 0 20px 0;
		margin: 0 0 34px 0;

		border-bottom: 3px solid white;
		width: 100%;
		color: $dark;
		font-family: 'Futura', sans-serif;
		font-weight: bold;
	}

	.col-md-1, .col-lg-1 {
		padding: 80px 0 0 35px;
		span, h3 {
			color: $pop;
		}
	}

	.topic-content {
		border-bottom: 3px solid white;
		padding-bottom: 45px;
		margin-bottom: 45px;
	}

	.topic-right {
		font-size: 10px;
		letter-spacing: 1px;
		text-transform: uppercase;

		h4 {
			text-transform: none;
			line-height: 24px;
			margin-top: 0;
			letter-spacing: 0px;
			a {
				color: $dark;
			}
		}
	}

	.tag {
		display: inline-block;
		padding-right: 5px;
		.last {
			display: none;
		}
	}

	aside {
		margin: 2em 0;
	}

	.view-article {
		font-family: 'Sentinel', serif;
		font-weight: bold;
	}

	.pagination {
		float: right;
		padding-right: 100px;
	}
}


/* topic page */
.topic-detail {
	.topic-page {
		h1 {
			a {
				color: $dark;
			}
		}
		&.container-fluid {
			background: transparent;
			margin-top: 48px;
		}

		.scope {
			text-transform: uppercase;
		}

		img {
			width: 100%;
		}

		h1 {
			margin: 0 0 .5em 0;
		}

		.topic-score {
			text-align: right;
		}

		.centered {
			float: none;
			margin: 0 auto;
		}

		aside {
			margin:  0 0 33px 0;
			text-transform: uppercase;
			font-size: 10px;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin: 0;
				padding: 0;
				list-style: none;			
			}
		}

		p.description {
			margin: 20px 0 40px 0;
		}

		.topic-image {
			display: block;
			width: 100%;
			max-height: 330px;
			height: 330px;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
		}

		.map {
			height: 0px;
			transition: all .5s;
			overflow: hidden;
			display: block;
			&.show {
				height: 350px;
			}
		}


		img {
			width: 100%;
		}
	}

	.topic-action {
		h3 {
			margin-top: 0;

			a {
				color: $dark;
			}
		}

	}

	h2 {
		display: inline-block;
	}

	.participate {
		a {
			float: right;
		}
	}
	
	
	.actions {
		background: $content-bg;
		padding-top: 130px;
		margin-top: -85px;

		.score {
			text-align: center;
			h3, span {
				color: $pop;
			}

			h3 {
				margin-top: 10px;
			}
		}

		.action {
			padding: 1em 0;

			&.ended {
				background: #DDD;
				opacity: .2;
			}
		}

		aside {
			font-size: 10px;
			text-transform: uppercase;
			padding-bottom: 1em;
		}

		.tag {
			display: inline-block;
			padding-right: 5px;
			.last {
				display: none;
			}
		}
	}

	.action-list-title {
		border-bottom: 3px solid #FFF;
		padding-bottom: 45px;
		margin-bottom: 45px;

		.help {
			float: right;
			margin-top: 30px;
			padding-left: 10px;
		}

		.way {
			color: $pop;
		}
	}

	.share {
		width: 49px;
		height: 49px;
		display: block;
		text-indent: -9999px;
		margin-top: 20px; 
		background-size: cover;
		background-repeat: no-repeat;
		&.facebook {
			background-image: url('../images/share-facebook-2x.jpg');
		}

		&.twitter {
			background-image: url('../images/share-twitter-2x.jpg');
		}

	}

	a.submit-action {
		float:right;
		margin-top: 15px;
		color: white;
		background: $pop;

		&:hover {
			background: white;
			color: $pop;
		}
	}

	.share-label {
		@media (max-width: $mobile) {
			display: none;
		}
	}
}

/*=================================
=            User page            =
=================================*/

.unapproved-actions {
	margin-bottom: 2em;
	border-bottom: solid 3px white;
}

/*=====  End of User page  ======*/


/*===================================
=            Form styles            =
===================================*/
.submit-wrapper {
	background: transparent;
}

.topic-submit {
  opacity: 0;
  transition: opacity .5s;
  visibility: hidden;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

label.required {
  &:after {
    padding-left: 2px;
    content:"*";
    color:red;
  }
}

.preview-image {
	min-height: 350px;
	width: 100%;
}

.directions {
	border-bottom: solid 1px #29b4cf; 
	display: inline-block;
}

/*=====  End of Form styles  ======*/


/*========================================
=            mobile overrides            =
========================================*/

@media (max-width: $mobile) {
	/*----------  global overrides  ----------*/
	.row {
		margin: 0;
	}

	.btn-lg, .btn-primary {
		display: block;
		width: 100%;
		min-width: 100%;
	}

	header nav.navbar-default .navbar-header {
		padding: 17px 0 0 30px;

	}

	header .btn-lg {
		width: auto;
		min-width: auto;
	}

	header li.icon a {
		padding-left: 15px;
	}

	.navbar-default .navbar-toggle:focus {
		background: transparent;
	}

	.signin {
		width: 100%;
		padding: 0;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	header .navbar-collapse.in {
		overflow-y: visible;
	}

	header .dropdown.open .tooltip {
		display: none;
	}

	header .navbar-default .navbar-collapse {
		border: 0;
	}

	footer.container-fluid, .footer {
		border: none;
		border-top: none;
		margin-top: 0em;
		padding: 2em 0;
	}

	.footer ul {
		float: none;
		text-align: center;
	}

	.footer .rr {
		margin: 1em 0;
		text-align:center;
	}
	/*----------  homepage  ----------*/
	h1.tagline {
		font-size: 24px;
		margin: 30px 0;
	}

	.topics .topic-content {
		border-bottom: none;
	}

	.topics .col-md-1, .topics .col-lg-1 {
		padding: 20px 0;
	}

	.topics .topic {
		border-bottom: 3px solid white;
		position: relative;
		margin: 2em 0;
	}

	.topics aside {
		overflow: hidden;
		margin: 1em 0;
	}

	.topics .topic-score {
		position: absolute;
		left: 20px;
		top: 195px;
	}

	.topics .topic-content a {
		width: 100%;
	}

	.topics .topic-content .topic-right {
		float: right;
		padding-top: 20px;
		width: 80%;
	}

	.topics .pagination-wrapper {
		text-align: center;
	}

	.topics .pagination {
		padding-right: 0px;
		float: none;
	}

	.topics .view-article {
		margin: 2em 0;
	}

	/*----------  detail page  ----------*/
	.topic-detail .topic-score {
		display: none;
	}


	.topic-detail .action-list-title {
		border: none;
		text-align: center;

		.btn-lg	{
			width: 70%;
			min-width: 75%;
			float: none;
			margin: 20px auto 0;
		}
	}

	.modal-dialog.modal-sm {
	  width: 95% !important;
	  max-width: 95%;
	}

	.topic-main h1 {
		font-size: 24px;
	}

	.topic-detail .action-list-title {
		margin-bottom: 0px;
	}

	.action-list-title h2 {
		font-size: 22px; 
		border-bottom: 3px solid #fff;
		padding-bottom: 30px;
	}

	.topic-detail .share {
		width: 30px;
		height: 30px;
		display: inline-block;
		margin-right: 10px;
		line-height: 30px;
	}

	.topic-detail .actions {
		background: #f0f0f0;
	    margin-top: 40px;
	    padding-top: 0px;	
	}

	.topic-detail .topic-page aside {
		margin: 0 0 10px 0;
		display: inline-block;
		padding-right: 20px;
	}

	.topic-detail .topic-page .share {
		margin: 10px 0;
	}

	.topic-detail .topic-action h3 {
		// margin-top: 1em;
	}

	.topic-detail img {
		display: none;
	}

	.participate {
		float: right;
		// margin-right: 90px;
	}

	.topic-detail .actions .action {
		border-bottom: solid 3px #fff;
		padding-bottom: 2em;
	}

	/*----------  form styles  ----------*/
	.preview-image {
		min-height: auto;
		width: 100%;
	}

	.directions {
		border-bottom: none;
	}
	
}

/*=====  End of mobile overrides  ======*/





