/*=================================================
=            Global Style Declarations            =
=================================================*/
body {
	font-family: 'Futura', sans-serif;
}

a {
	color: $pop;
}

.btn-primary {
	border-radius: 0px;
	border: solid 1px $pop;
	background: transparent;
	color: $pop;
	font-size: 10px;
	min-width: 257px;
	line-height: 22px;
	text-transform: uppercase;

	&:hover {
		border: solid 1px white;
		background: $pop;
		color: white;
	}

}

h1, h2, h3, h4, h5 {
	font-family: 'Sentinel', serif;
	font-weight: bold;
}

.go {
	&:after {
		content: "\e080";
		font-family: 'Glyphicons Halflings';
		font-weight: 200;
		font-size: 50%;
		padding-left: 5px;
	}
} 

.footer {
  width: 100%;
  background: #FFF;
  padding: 1em .5em;
  margin-top: 2em;

  ul {
    li {
      display: inline-block;
      padding: 10px 20px;
    }
  }
}

.nopad {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}

ul.dropdown-menu {
	width: 100%;
	border-radius: 0px;
	margin: 0;
}

.pac-container {
  z-index: 9999;
}

.submit-wrapper {
  .form-submit-action,
  .form-submit-topic {
    position: relative;
    &.loading {
      opacity: .2;
    }
  }
  .loader {
    position: absolute;
    top: 40%;
    left: 40%;
    background-image: url(../images/ajax-loader.gif);
    width: 32px;
    height: 32px;
    display: none;

    &.loading {
      display: block;
    }
  }
}

.form-control {
	height: auto;
}

/*=====  End of Global Style Declarations  ======*/


/* Header */
header {
	// background: radial-gradient(ellipse 70% 100px, #F0F0F0, $pop);
	background: #f0f0f0;

	.alert-warning {
		background: $pop;
		color: white;
		text-align: center;
	}

	nav {
		max-width: $content-width;
		margin: 0 auto 0 auto;
		padding: 8px 0;

		&.navbar.navbar-default {
			/* Bootstrap resets */
			margin-bottom: 0px;
			border: none;
			background-color: transparent;
		}

		.navbar-brand {
			background: url('../images/logo-2x.jpg') no-repeat;
			background-size: contain;
			width: 222px;
			text-indent: -9999px;
			height: 16px;
		}

		.navbar-header {
			padding: 17px 10px 0;
		}

	  	.btn-lg {
	  		padding: 7px 0;
	  	}
	}

  	img {
  		width: 32px;
    	border-radius: 20px;
  	}

  	li {
  		> a {
  			font-size: 19px;
  			font-family: 'Sentinel', serif;
  			font-weight: bold;
  			color: $dark !important;
  		}
  	}

  	.icon {
  		padding: 0;

	    a {
	    	line-height: 50px;
	    	padding: 0 20px 0 0;
	    }
  	}

  	.navbar-toggle {
  		margin-top: 0px;
  	}

  	.navbar-brand {
  		@media (max-width: $mobile) {
  			margin-top: 8px;
  		}
  	}

  	.btn-submit-topic {
  		margin: .5em 1em;
  		color: $pop !important;
  		font-family: 'Futura', sans-serif;
  	}

}

.container-fluid {
	max-width: $content-width;
	background: $content-bg;

	&.featured {
		background: transparent;
	}
}


/* homepage */
h1.tagline {
	margin: 58px 0 100px 0;
	font-family: 'Sentinel', serif;
	font-weight: bold;

	strong {
		color: $pop;
	}
}

.banner {
	padding: 0;

	&:not(:first-child,:last-child) {
		padding: 0 10px;
	}
	.banner-image {
		width: 100%;
		height: 192px;
		display: block;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.banner-label {
		font-size: 10px;
		text-transform: uppercase;
		padding: 24px 0 31px;
		display: inline-block;
	}

	.banner-meta {
		font-size: 8px;
		text-transform: uppercase;
	}

	.banner-copy {
		background: $content-bg;
		padding: 0 20px 25px;
		min-height: 204px;

		h3 a {
			color: $dark;
		}
	}

	.more a {
		display: block;
		padding: 18px 0;
		background: $content-bg;
		margin: 8px 0 20px;
		text-transform: uppercase;
		font-family: 'Sentinel', serif;
		font-weight: bold;
		letter-spacing: 1px;
	}

	h3 {
		font-size: 19px;
		line-height: 25px;
		margin-top: 0;
	}
}

.topics {
	.topic-image {
		// max-width: 325px;
		display: inline-block;
		float: left;
		margin-right: 2%;
		width: 33%;

		img {
			width: 100%;
		}
	}

	.topic-right {
		display: inline-block;
		float: left;
		width: 65%;
	}

	h3.score {
		margin: 0;
	}

	h3.trending {
		font-size: 14px;
		text-transform: uppercase;
		padding: 40px 0 20px 0;
		margin: 0 0 34px 0;

		border-bottom: 3px solid white;
		width: 100%;
		color: $dark;
		font-family: 'Futura', sans-serif;
		font-weight: bold;
	}

	.col-md-1, .col-lg-1 {
		padding: 80px 0 0 35px;
		span, h3 {
			color: $pop;
		}
	}

	.col-md-10 {
		border-bottom: 3px solid white;
		padding-bottom: 45px;
		margin-bottom: 45px;
	}

	.topic-right {
		font-size: 10px;
		text-transform: uppercase;

		h4 {
			text-transform: none;
			line-height: 24px;
			margin-top: 0;
			a {
				color: $dark;
				border-bottom: 1px solid $pop;
			}
		}
	}

	.tag {
		display: inline-block;
		padding-right: 5px;
		.last {
			display: none;
		}
	}

	aside {
		margin: 2em 0;
	}

	.pagination {
		float: right;
		padding-right: 100px;
	}
}


/* topic page */
.topic-detail {
	.topic-page {
		h1 {
			a {
				color: $dark;
			}
		}
		&.container-fluid {
			background: transparent;
			margin-top: 48px;
		}

		.scope {
			text-transform: uppercase;
		}

		img {
			width: 100%;
		}

		h1 {
			margin: 0 0 .5em 0;
		}

		.centered {
			float: none;
			margin: 0 auto;
		}

		aside {
			margin:  0 0 33px 0;
			text-transform: uppercase;
			font-size: 10px;

			@media (max-width: $mobile) {
				margin: 0 0 10px 0;
				display: inline-block;
				padding-right: 20px;
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin: 0;
				padding: 0;
				list-style: none;			
			}
		}

		p.description {
			margin: 20px 0 40px 0;
		}

		.topic-image {
			display: block;
			width: 100%;
			max-height: 330px;
			height: 330px;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
		}

	}

	h2 {
		display: inline-block;
	}
	
	
	.actions {
		background: $content-bg;
		padding-top: 130px;
		margin-top: -85px;

		.score {
			text-align: center;
		}

		.action {
			margin-bottom: 2em;
		}

		aside {
			font-size: 10px;
			text-transform: uppercase;
			padding-bottom: 1em;
		}

		.tag {
			display: inline-block;
			padding-right: 5px;
			.last {
				display: none;
			}
		}
	}

	.action-list-title {
		border-bottom: 3px solid #FFF;
		padding-bottom: 45px;
		margin-bottom: 45px;
	}

	.share {
		width: 49px;
		height: 49px;
		display: block;
		text-indent: -9999px;
		margin-top: 20px; 
		background-size: cover;
		background-repeat: no-repeat;
		&.facebook {
			background-image: url('../images/share-facebook-2x.jpg');
		}

		&.twitter {
			background-image: url('../images/share-twitter-2x.jpg');
		}

		@media (max-width: $mobile) {
			width: 30px;
			height: 30px;
			display: inline-block;
			margin-right: 10px;
			line-height: 30px;
		}
	}

	.share-label {
		@media (max-width: $mobile) {
			display: none;
		}
	}
}

/*=================================
=            User page            =
=================================*/

.unapproved-actions {
	margin-bottom: 2em;
	border-bottom: solid 3px white;
}

/*=====  End of User page  ======*/


/*===================================
=            Form styles            =
===================================*/
.submit-wrapper {
	background: transparent;
}

.topic-submit {
  opacity: 0;
  transition: opacity .5s;
  visibility: hidden;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

/*=====  End of Form styles  ======*/





