body {
  // font-family: Helvetica, sans-serif
  font-family: 'Raleway', sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  // padding: $half-space;
}
a {
  color: #000;
  border-bottom: solid 1px #29b4cf;
}

p {
  margin: 1em 0;
}
button, button.btn-primary {
  background: #29b4cf;
  border-color: #29b4cf;
}

#content {
  max-width: 1300px;
  margin: 0 auto;
  // padding-top: 80px;
  min-height: 100vh;
}
.state {
  color: #29b4cf;
}

.row {
  width: 100%;
  margin: 0;
}

.topic-submit {
  opacity: 0;
  transition: opacity .5s;
  visibility: hidden;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.header {
  // position: fixed;
  // width: 100%;
  // z-index: 9999;

  img {
    border-radius: 20px;
  }

  a {
    border-bottom: none;
  }
}

.pagination {
  float: right;
}

.back {
  background: #FFF;
  padding: 1em 1em 2em 1em;
  h3.banner {
    margin: 20px 30px;
    border-bottom: solid 1px #ddd;
    padding: 10px 0;
  }
}

.navbar-default {
  background: linear-gradient(to right, #29b4cf, #ed780b 100%);
  border: 0;
  border-radius: 0;
  margin: 0;


  .navbar-nav > li > a {
    color: #FFF;
  }

  .navbar-brand {
    color: #FFF;

    &:focus {
      color: #FFF;
    }
  }

  .navbar-toggle {
      border-color: #FFF;
      .icon-bar {
        background-color: #FFF;
      }
  }

  .icon {
    padding: 10px 10px 0 0;

    a {
      border-radius: 3px;
      width: 32px;

      img {
        width: 100%;
      }
    }
    @media (max-width: 768px) {
      margin-left: 15px;
    }    
  }
}

.navbar-collapse.in {
  overflow-y: visible;

  @media (max-width: 768px) {
    input {
      margin: 10px 0;
    }
  }
}

.error {
  color: red;
}

.tag-header {
  display: inline-block;
  margin-right: 10px;
}

// temp
.upvoted {
  color: orange;
}

.downvoted {
  color: blue;
}

.upvote,
.downvote {
    font-size: 25px;
    cursor: pointer;
    color: #222;

    &.action {
        font-size: 15px;
    }
}

.upvote {
    &:hover {
        color: #F3902A;
    }
}

.downvote {
    &:hover {
        color: #920832;
    }
}

.submit-wrapper {
  .form-submit-action,
  .form-submit-topic {
    position: relative;
    &.loading {
      opacity: .2;
    }
  }
  .loader {
    position: absolute;
    top: 40%;
    left: 40%;
    background-image: url(../images/ajax-loader.gif);
    width: 32px;
    height: 32px;
    display: none;

    &.loading {
      display: block;
    }
  }
}


ul.tags {
    margin:.5em 0;
    padding: 0;

    li {
        display: inline;
        margin: 0 .5em 0 0;
    }
}

h3.score {
    color: #222;
    margin: .1em 0;
}

.gmap {
  width: 100%;
}

.topic-score {
  display: inline-block;
  border: 1px solid #CCC;
  /* background: #FFF; */
  padding: 10px 20px;
  border-radius: 2px;
}

aside.tags {
  display: inline-block;
}
div.tag {
  padding: 3px 8px;
  margin-bottom: 15px;
  // margin-right:10px;
  display:inline-block;
  border-right: solid 1px #BBB;
  line-height: 11px;

  &.last {
    border-right: none;
  }
}

.logo {
  padding: 10px 0 0 20px; 
  float: left; 
  display: block;

  img {
    height: 32px; border: solid 1px 666; border-radius: 3px;
  }
}
.modal-dialog {
  
  &.modal-lg {
    width: 1200px;
    max-width: 90%;
  }

  &.modal-sm {
    width: 650px;
    max-width: 45%;
    margin: 20% auto;

  }
}
@media (max-width: 768px) {
  .modal-dialog.modal-sm {
    width: 95% !important;
    max-width: 95%;
  }
}

.banner-wrapper {
  margin-bottom: 20px;
}

.banner {
  position: relative;
  .banner-label {
    position: relative;
    width: 100%;
    text-align: center;
    margin: .2em 0 .5em;
    display: block;
    font-size: 25px;
    color: #555;
    text-decoration: none;
    border-bottom: none;
    cursor: pointer;
    // -webkit-text-stroke: 1px black;


    &:hover:after {
      font-family: 'Glyphicons Halflings';
      content: "\e031";
      font-size: 15px;
      line-height: 25px;
      padding-left: 5px;
    }

    &.rotating:after {
      -webkit-animation: rotating 2s linear infinite;
      -moz-animation: rotating 2s linear infinite;
      -ms-animation: rotating 2s linear infinite;
      -o-animation: rotating 2s linear infinite;
      animation: rotating 2s linear infinite;
    }
  }

  img {
    width: 95%;
    margin: 0 auto;
  }

  p {
    margin: 1em 0;
  }

  a.banner-image {
    min-height: 200px; 
    background-size: cover; 
    display: block; 
    background-position: center bottom;
  }
}

.navbar-form ul.dropdown-menu a.disabled {
  text-decoration: line-through;
}

.pac-container {
  z-index: 9999;
}

.thinking {
  background-image: url('/images/ajax-loader.svg');
      background-position: 60% top;
      background-repeat: no-repeat;
      &:hover {
        cursor: not-allowed;
      }
}

.footer {
  width: 100%;
  background: #FFF;
  padding: 1em .5em;
  margin-top: 2em;

  ul {
    li {
      display: inline-block;
      padding: 10px 20px;
    }
  }
}

label.required {
  &:after {
    padding-left: 2px;
    content:"*";
    color:red;
  }
}

@media (max-width: 768px) {
  h1.tagline {
    font-size: 20px;
  }
}

.rotating {
  // -webkit-animation: rotating 2s linear infinite;
  // -moz-animation: rotating 2s linear infinite;
  // -ms-animation: rotating 2s linear infinite;
  // -o-animation: rotating 2s linear infinite;
  // animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}