p {
  margin-bottom: 1em;
}

.heading {
  margin-bottom: 0.618em;

  &.-large {
    font-size: $font-size--lg;
    font-weight: bold;
    line-height: $half-space * 3 / 2;
  }

  &.-medium {
    font-size: $font-size--md;
    font-weight: normal;
    line-height: $half-space;
  }

  &.-small {
    font-size: $font-size--sm;
    font-weight: bold;
    line-height: $half-space * 2 / 3;
  }

  &.-smallest {
    font-size: $font-size--xs;
    font-weight: bold;
  }
}

h1 {
  @extend .heading.-large;
}

h2 {
  @extend .heading.-medium;
}

h3 {
  @extend .heading.-small;
}


@font-face {
  font-family: 'Sentinel Book';
  src: url('../fonts/Sentinel-Book.eot');
  src: url('../fonts/Sentinel-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sentinel-Book.woff') format('woff'),
    url('../fonts/Sentinel-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
  src: url('../fonts/Sentinel-Medium.eot');
  src: url('../fonts/Sentinel-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sentinel-Medium.woff') format('woff'),
    url('../fonts/Sentinel-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
  src: url('../fonts/Sentinel-Bold.eot');
  src: url('../fonts/Sentinel-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sentinel-Bold.woff') format('woff'),
    url('../fonts/Sentinel-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
  src: url('../fonts/Sentinel-Light.eot');
  src: url('../fonts/Sentinel-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sentinel-Light.woff') format('woff'),
    url('../fonts/Sentinel-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
