<a href="#" ng-click="cancel()" class="close">X</a>
<div class="modal-header">

    <h3 class="modal-title">Are you sure you want to {{action}} {{title}}?</h3>
    
</div>
<div class="modal-body">
    <p ng-bind-html="message"></p>
    
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    <button ng-class="{'thinking' : thinking}" class="btn btn-success" type="button" ng-click="doAction()" ng-disabled="thinking">{{action | uppercase}}</button>
</div>