<header ng-controller="AuthCtrl" ng-init="init()">
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="logo" href="/" style=""></a>
      <a class="navbar-brand" href="/">respond/react</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-hide="">
      <div class="social">
        <a class="facebook share" target="_blank" analytics-on analytics-event="click" analytics-category="social" analytics-label="facebook" href="https://www.facebook.com/respondreact">Like us on Facebook</a>
        <a class="twitter share" target="_blank" analytics-on analytics-event="click" analytics-category="social" analytics-label="twitter" href="https://twitter.com/respond__react">Follow us on Twitter</a>
      </div>
      <ul ng-if="isLoggedIn == true" class="nav navbar-nav navbar-right">
        <li>
          <a href="/submit" style="" class="btn btn-primary btn-lg btn-submit-topic text-center" ng-if="isLoggedIn == true"  tooltip-placement="bottom" uib-tooltip="Topics are any news articles or headlines that have an affected any number of people">Submit a topic</a>
        </li>
        <li>
          <a href="#" ng-click="logout()">Logout</a>
        </li>
        <li class="icon" ng-if="user.social_thumb != null">
          <a href="user/{{user.id}}"><img src="{{user.social_thumb}}" /></a>
        </li>
      </ul>
      <form ng-if="isLoggedIn != true" class="navbar-form navbar-right">
        <div class="form-group">
          <p ng-show="errors.general">{{ errors.general }}</p>
          <div class="btn-group" uib-dropdown is-open="status.isopen">
            <a href="#" class="search glyphicon glyphicon-search" ng-click="toggleSearch()"></a>
            <button tooltip-placement="left" uib-tooltip="Sign in or register with one click to submit actions and topics" id="single-button" type="button" class="dd" uib-dropdown-toggle ng-disabled="disabled">
            Login <span class="glyphicon glyphicon glyphicon-menu-right"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem"><a href="#" ng-click="authenticate('facebook')">Sign in with Facebook</a></li>
              <li role="menuitem"><a href="#" ng-click="authenticate('google')">Sign in with Google</a></li>
              <!-- <li role="menuitem"><a class="disabled" href="#" ng-click="">Sign in with Twitter (unavailable)</a></li> -->
            </ul>
          </div>
        </div>
      </form>
      </div><!-- /.navbar-collapse -->
    </nav>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div class="popular-tags clearfix">
      <div class="inner">
        <a class="popular-tag" ng-repeat="tag in popular_tags" href="/topics/tag/{{tag.slug}}">{{tag.name}}</a>
      </div>
    </div>
    <div class="search-overlay" ng-class="{'active' : searching}">
      <form class="navbar-form navbar-left" ng-submit="submitSearch()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="param">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <div class="search-results">
          <ul>
            <li ng-repeat="result in results"><a ng-click="goToTopic(result.id)">{{result.title}}</a></li>
          </ul>
        </div>
      </form>
      <div class="search-overlay-bg" ng-click="closeSearch()"></div>
    </div>
  </header>