<div ng-init="init()">
  <h1 class="text-center tagline">Don't just <em>react</em>, <strong>respond</strong>.</h1>
  <div class="container-fluid back" style="text-align: center;">
    <div class="row banner-wrapper">
      <div class="col-md-4 col-lg-4 col-sm-4 banner national" ng-if="national != null">
        <a class="banner-label" ng-click="refresh('national')">National</span>
        <a class="banner-image" style="background-image: url({{mediaUrl}}/{{national.image}})" href="/topic/{{national.id}}">
        </a>
        <p><a href="/topic/{{national.id}}">{{national.title}}</a></p>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-4 banner local" ng-if="local != null">
        <a class="banner-label" ng-click="refresh('local')">Local<ng-if="state" class="state"> ({{state}})</ng-if></span>
        <a class="banner-image" style="background-image: url({{mediaUrl}}/{{local.image}});" href="/topic/{{local.id}}"></a>
        <p><a href="/topic/{{national.id}}">{{local.title}}</a></p>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-4 banner worldwide" ng-if="worldwide != null">
        <a class="banner-label" ng-click="refresh('worldwide')">Worldwide</span>
        <a class="banner-image" style="background-image: url({{mediaUrl}}/{{worldwide.image}})" href="/topic/{{worldwide.id}}"></a>
        <p><a href="/topic/{{worldwide.id}}">{{worldwide.title}}</a></p>
      </div>
    </div>
    <a style="" href="/submit" style="margin:1em; float: right;" class="btn btn-primary btn-lg btn-submit-topic text-center" ng-if="isLoggedIn == true">Submit a topic</a>
  </div>
  <br />
  <div class="container-fluid back">
    <h3 style="" class="banner">What's trending today</h3>
    <div class="inner">
      <span ng-if="tag != null"><h1 class="tag-header">Tag: {{tag_title}}</h1><a href="#" ng-click="removeTag()">[Remove]</a></span>
      <div ng-repeat="topic in topics" class="row">
        <div class="col-lg-1 col-md-1 col-sm-1" style="text-align: center;">
          <span ng-click="upVoteTopic($index)" ng-class="{upvoted: isUpVoted($index)}" class="glyphicon glyphicon-chevron-up upvote">
          </span>
          <h3 style="margin: .5em 0">{{topic.score}}</h3>
          <span ng-click="downVoteTopic($index)" ng-class="{downvoted: isDownVoted($index)}" class="glyphicon glyphicon-chevron-down downvote">
          </span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="topic/{{topic.id}}"><img src="{{mediaUrl}}/{{topic.image}}" style="width: 100%" /></a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <aside class="error" ng-show="topic.error">{{topic.error}}</aside>
          <a href="topic/{{topic.id}}">{{topic.title}}</a>
          <p>Submitted by <a href="/user/{{topic.created_by}}">{{topic.username}}</a> on {{topic.created_on | date : fullDate}}</p>
          <span class="glyphicon glyphicon-tags"></span>
          <aside class="tags">
            <div ng-repeat="tag in topic.tags" class="tag" ng-class="{'last':$last}">
              <a href="topics/tag/{{tag.slug}}">{{tag.name}}</a>
            </div>
          </aside>
          <br />
          <aside class="right"><span class="glyphicon glyphicon-fire"></span> <a href="topic/{{topic.id}}#actions">{{topic.actions}} actions</a></aside>
        </div>
      </div>
      <div class="clearfix">
        <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>
      </div>
    </div>
  </div>
</div>