<div ng-init="init()">
  <h1 class="text-center tagline">Don't just react, <strong ng-click="respond()">respond.</strong></h1>
  <div class="container-fluid featured" style="text-align: center;">
    <div class="row banner-wrapper">
      <div class="col-md-4 col-lg-4 col-sm-4 banner local" ng-if="local != null">
        <a class="banner-image" style="background-image: url({{local.image}});" href="/topic/{{local.id}}"></a>
        <div class="banner-copy">
          <a class="banner-label" ng-click="refresh('local')">Local ({{state}})</a>
          <h3><a href="/topic/{{local.id}}">{{local.title}}</a></h3>
          <span class="banner-meta">BY: <a href="/user/{{local.created_by}}">{{local.username}}</a> {{local.created_on | date : fullDate}}</span>
        </div>
        <div class="more"><a ng-class="{'refiltered' : refiltered.local.status}" ng-click="refilter('local')" href="#">View Local</a></div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-4 banner national" ng-if="national != null">
        <a class="banner-image" style="background-image: url({{national.image}})" href="/topic/{{national.id}}"></a>
        <div class="banner-copy">
          <a class="banner-label" ng-click="refresh('national')">National</span></a>
          <h3><a href="/topic/{{national.id}}">{{national.title}}</a></h3>
          <span class="banner-meta">BY: <a href="/user/{{national.created_by}}">{{national.username}}</a> {{national.created_on | date : fullDate}}</span>
        </div>
        <div class="more"><a  ng-class="{'refiltered' : refiltered.national.status}" ng-click="refilter('national')" href="#">View National</a></div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-4 banner worldwide" ng-if="worldwide != null">
        <a class="banner-image" style="background-image: url({{worldwide.image}})" href="/topic/{{worldwide.id}}"></a>
        <div class="banner-copy">
          <a class="banner-label" ng-click="refresh('worldwide')">Worldwide</a>
          <h3><a href="/topic/{{worldwide.id}}">{{worldwide.title}}</a></h3>
          <span class="banner-meta">BY: <a href="/user/{{worldwide.created_by}}">{{worldwide.username}}</a> {{worldwide.created_on | date : fullDate}}</span>
        </div>
        <div class="more"><a ng-class="{'refiltered' : refiltered.worldwide.status}" ng-click="refilter('worldwide')" href="#">View Worldwide</a></div>
      </div>
    </div>
  </div>
  <div id="topics" class="container-fluid topics">
    <div class="row nomargin">
      <div class="col-sm-1 nopad"></div>
      <div class="col-sm-12 nopad">
        <div class="top">
        <h3 class="trending">What's trending today<span ng-if="tag !== null" style="color: #29b4cf"> - Tag: {{tag_title}} <a href="#" ng-click="removeTag()">[Remove]</a></span></h3>
         <div class="filters">
              Filter Results By: 
              <select 
                      ng-init="filter = filters[0].value"
                      ng-options="option.value as option.text for option in filters"
                      ng-model="filter" ng-change="sort()">
              </select>
          </div>
        </div>
      </div>
    </div>
    <div class="inner row nomargin">
      <div ng-repeat="topic in topics" class="row topic">
        <div class="col-lg-1 col-md-1 col-sm-1 topic-score">
          <span ng-click="upVoteTopic($index)" class="glyphicon glyphicon-menu-up upvote">
          </span>
          <h3 class="score">{{topic.score}}</h3>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 nopad topic-content">
          <a class="topic-image" href="topic/{{topic.id}}"><img src="{{topic.thumbnail}}" /></a>
          <div class="topic-right">
            <aside class="error" ng-show="topic.error">{{topic.error}}</aside>
            <h4><a href="topic/{{topic.id}}">{{topic.title}}</a></h4>
            <aside>BY: <a href="/user/{{topic.created_by}}">{{topic.username}}</a>&nbsp;&nbsp;{{topic.created_on | date : fullDate}}</aside>
            <aside class="tags">
            Tags: 
              <div ng-repeat="tag in topic.tags" class="tag" ng-class="{'last':$last}">
                <a href="topics/tag/{{tag.slug}}">{{tag.name}}</a><span ng-class="{'last':$last}">,</span>&nbsp;
              </div>
            </aside>
            <aside class="right"><a href="topic/{{topic.id}}#actions"><ng-pluralize count="topic.actions" when="{'0' : 'No actions yet', '1' : '1 action', 'other' : '{{ topic.actions }} actions'}"></ng-pluralize></a></aside>
            <aside class="view-article"><a href="{{topic.article_link}}" target="_blank" class="go view-article">View Article</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-12 nopad">
          <a class="btn-primary text-center btn btn-lg load-more" href="" ng-click="pageChanged()">Load More</a><br />
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
        <!-- <ul ng-show="pagination==true" uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul> -->
      </div>
    </div>
  </div>
</div>