
<a href="#" ng-click="close()" class="close">X</a>
<div class="modal-header">
    <h3 class="modal-title">You must be logged in to do that!</h3>
    
</div>
<div class="modal-body">
	<ul>
		<li role="menuitem"><a class="facebook-signin signin" href="#" ng-click="authenticate('facebook')">Sign in with Facebook</a></li>
		<li role="menuitem"><a class="google-signin signin" href="#" ng-click="authenticate('google')">Sign in with Google</a></li>
	</ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="close()">Close</button>
</div>