<div class="modal-header">

    <h3 class="modal-title">Welcome to respond/react!</h3>
    
</div>
<div class="modal-body">
    <p>Respond React is a link sharing site for anyone who wants to do more than just get depressed by the news. Every day, we aspire to connect the people affected by the headlines you read on sites like cnn.com and nytimes.com.</p>
    <p>Whether that be crowdsourcing, crowdfunding, petitions, rallies, fundraisers, or events, respond/react aims to find you way you can help - whether in person, or from your living room.</p>
    <p>If you've created a change.org petition, kickstarter.com fund, or facebook event and you want more people to see it, <a href="#" ng-click="$parent.authenticate('facebook')">register now</a> and start posting your action under any headlines you see on this site!</p>
    <p>Don't just <em>react</em>, <strong>respond</strong>.</p>
    
</div>