<div class="modal-header">

    <h3 class="modal-title">Welcome to respond/react!</h3>
    
</div>
<div class="modal-body">
    <p>Respond React is a link sharing site for anyone who wants to do more than just get depressed by the news. Every day, people all over the world create petitions, marches, rallies, and crowdfunding campaigns to get their communities involved. We aspire to connect you with them as well as the people affected by those oftentimes harrowing headlines you read on at places like CNN and The New York Times.</p>
    <p>In addition, if you're one of those who have created a change.org petition, kickstarter.com fund, or a facebook event and you want more people to see it, register now and start posting your events under any headlines you see on this site!</p>
    <p>Don't just <em>react</em>, <strong>respond</strong>!</p>
</div>