<div ng-controller="ActionSubmitCtrl as vm" class="container-fluid submit-wrapper" ng-init="init()">
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <h1>Submit an action for:</h1>
    <h3><a href="/topic/{{topic.id}}">{{topic.title}}</a></h3>
    <br />
    <form name="submit-action" ng-submit="submit()" ng-class="{loading: formLoading}" class="form-submit-action" ng-show="submitted==false">
        <div class="row">
            <div class="col-md-9 col-sm-9 submit-wrapper" ng-show="isLoggedIn == true">
                <label for="article_link">Link:</label>
                <div class="input-group">
                    <input name="article_link" id="article_link" type="text" ng-model="article_link" class="form-inline form-control" placeholder="Link to Action" required>
                    <span class="input-group-btn">
                        <button type="button" value="Look up Url" class="btn btn-default" ng-click="linkEntered()">Look up Url</button>
                    </span>
                </div>
                <p class="warn" ng-show="errors.article_link">{{ errors.article_link }}</p>
                <br />
                <div class="topic-submit" ng-class="{'show' : validUrl}">
                <br /><br />
                    <div class="row">
                        <div class="col-lg-6">
                            <p>This is the image that will be used to accompany your article</p>
                            <img src="{{ action.image_preview.src }}" class="preview-image" ng-show="action.image_preview.visible"/>
                            <input name="image_url" id="image_url" type="hidden" class="form-control" ng-model="action.image_url" value="{{ action.image_preview.src }}" />
                        </div>
                        <div class="col-lg-6">
                            <label class="required" for="title">Title</label><br />
                            <div ng-hide="editing" id="title"><strong>{{action.title}}</strong>
                            <a href="" ng-hide="editing" ng-click="editToggle()">[Edit]</a>
                            </div>
                            <input name="title" id="title" type="text" class="form-control"  ng-model="action.title" ng-show="editing" placeholder="Title" required>

                            <p ng-show="errors.title" id="">{{ errors.title }}</p>
                            <br />
                            <label class="required" for="topic_description">Description:</label><br />
                            <div ng-hide="editing" id="topic_description">{{action.description}}</div>
                            <textarea id="topic_description" ng-model="action.description" ng-show="editing" class="form-control" placeholder="Description" style="width:100%; height: 150px;" required></textarea>
                            <a href=""  ng-hide="editing" ng-click="editToggle()">[Edit]</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12" ng-class="{'step2' : validUrl}">
                <div class="topic-submit" ng-class="{'show' : validUrl}">
                    <div class="form-group" ng-class="[{'has-error' : errors.tags}, {'warn' : errors.tags}]">
                        <label class="required" for="tags">Tags</label>
                        <p>(e.g. #StandingRock, 'Mass Shooting')</p>
                        <tags-input name="tags" id="tags" ng-model="action.tags_list" replace-spaces-with-dashes="false"></tags-input>
                        <p ng-class="{'error' : errors.tags}">{{errors.tags}}</p>
                    </div>
                    <hr />
                    <label class="required" for="scope">Scope</label><br />
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a tooltip-placement="bottom" uib-tooltip="Local (Affects only this state)" class="glyphicon glyphicon-picture scope-icon" ng-click="setScope('local')"></a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a tooltip-placement="bottom" uib-tooltip="National (Affects only this country)"  class="glyphicon glyphicon-flag scope-icon" ng-click="setScope('national')"></a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a tooltip-placement="bottom" uib-tooltip="Worldwide (Affects the entire planet)" class="glyphicon glyphicon-globe scope-icon" ng-click="setScope('worldwide')"></a>
                        </div>
                    </div>
                    <select id="scope" class="form-control" ng-model="action.scope"
                        ng-init="action.scope = scopes[0].value"
                        ng-options="option.value as option.text for option in scopes" style="display: none">
                        <option value="">-- SELECT A SCOPE --</option>
                    </select>
                    <div class="scope-label {{action.scope}}">{{action.scope}}</div>
                    <p ng-class="{'warn' : errors.scope}">{{errors.scope}}</p>
                    <hr />
                    <div class="checkbox">
                        <label><input name="date_time_display" type="checkbox" value="" ng-model="action.date_time_display">Does this action have and start and/or end date/time?</label>
                    </div>
                    <div ng-if="action.date_time_display == true">
                        <div>
                            <label for="start_date_time">Start Date</label>
                            <uib-datepicker id="start_date_time" ng-model="action.start_date_time_value" class="well well-sm" datepicker-options="options" style=""></uib-datepicker>
                            <uib-timepicker id="start_date_time" ng-model="action.start_date_time_value" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
                        </div>
                        <div ng-if="action.end_date_time_display == true">
                            <label for="end_date_time">End Date</label>
                            <uib-datepicker ng-model="action.end_date_time_value" class="well well-sm" datepicker-options="options" style=""></uib-datepicker>
                            <uib-timepicker ng-model="action.end_date_time_value" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
                        </div>
                        <a href="" ng-if="!action.end_date_time_display" ng-click="showEnd()">+End</a>
                    </div>
                    <hr />
                    <div class="checkbox">
                        <label><input name="address_display" type="checkbox" value="" ng-model="address" />Address?</label>
                    </div>
                    <div class="address" ng-class="{'show' : address}">
                        <input name="address" places-auto-complete id="address" type="text" class="form-control"  ng-model="action.address.formatted" placeholder="Address" component-restrictions="" types="['geocode']" on-place-changed="vm.placeChanged()" />
                        <label for="address">{{error.address}}</label>
                        <br/>
                        <ng-map id="map" zoom="8" center="37.774546, -122.433523" map-type-id="" ng-if="render">
                            <marker position="{{pos.lat}},{{pos.lng}}"></marker>
                        </ng-map>
                    </div>
                </div>
            </div>
        </div>
        <div class="row topic-submit" ng-class="{'show' : validUrl}">
            <hr />
            <input name="submit_form" type="submit" value="Submit" class="btn btn-primary btn-lg btn-block" ng-disabled="submitted" ng-class="{'thinking' : formLoading}" />
        </div>
        <div class="loader" ng-class="{loading: formLoading}"></div>
        <p ng-show="errors.general">{{ errors.general }}</p>
    </form>
</div>