<div ng-controller="ActionSubmitCtrl as vm" class="container-fluid submit-wrapper" ng-init="init()">
    <div class="row">
        <div class="col-md-12 col-sm-12 submit-wrapper" ng-show="isLoggedIn == true">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
            <form ng-submit="submit()" ng-class="{loading: formLoading}" class="form-submit-action" ng-show="submitted==false">
                <h1>Submit an action for:</h1>
                <h3><a href="/topic/{{topic.id}}">{{topic.title}}</a></h3>
                <br />
                <label for="article_link">Link:</label>
                <div class="input-group">
                    <input id="article_link" type="text" ng-model="article_link" class="form-inline form-control" placeholder="Link to Action" required>
                    <span class="input-group-btn">
                        <button value="Look up Url" class="btn btn-default" ng-click="linkEntered()">Look up Url</button>
                    </span>
                </div>
                <aside class="error" ng-show="article_link_error" ng-bind-html="article_link_error"></aside>
                <!-- <button ng-if="validUrl==false" value="Continue" class="btn btn-primary form-inline">Continue</button>
                <br /> -->
                <div class="topic-submit" ng-class="{'show' : validUrl}">
                    <br />
                    <label for="action_title">Title:</label>
                    <input id="action_title" type="text" ng-model="action.title" class="form-control" placeholder="Title" required>
                    <br />
                    <label for="action_description">Description:</label>
                    <textarea id="action_description" ng-model="action.description" class="form-control" placeholder="Description" style="width:100%; height: 150px;" required></textarea>
    <!--                 <br />
                    <label for="action_tags">Is this action in-person or remote?</label>
                    <br/>
                    <div id="respond_react" ng-model="action.respond_react" class="btn-group" role="group">
                        <button ng-model="action.respond_react" value="respond" type="button" class="btn btn-default">In Person</button>
                        <button ng-model="action.respond_react" value="react" type="button" class="btn btn-default">Remote</button>
                    </div> -->
                    <br /><br />
                    <div class="checkbox">
                        <label><input type="checkbox" value="" ng-model="action.date_time_display">Does this action have and start and/or end date/time?</label>
                    </div>
                    <div ng-if="action.date_time_display == true">
                        <div style="display: inline-block; margin-right: 20px;">
                            <label for="start_date_time">Start Date</label>
                            <uib-datepicker id="start_date_time" ng-model="action.start_date_time_value" class="well well-sm" datepicker-options="options" style=""></uib-datepicker>
                            <uib-timepicker id="start_date_time" ng-model="action.start_date_time_value" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
                        </div>
                        <div ng-if="action.end_date_time_display == true" style="display: inline-block;">
                            <label for="end_date_time">End Date</label>
                            <uib-datepicker ng-model="action.end_date_time_value" class="well well-sm" datepicker-options="options" style=""></uib-datepicker>
                            <uib-timepicker ng-model="action.end_date_time_value" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
                        </div>
                        <a href="" ng-if="action.end_date_time_display == false" ng-click="showEnd()">+End</a>
                        <br /><br />
                    </div>
                    <label for="action_tags">Tags</label>
                    <tags-input id="action_tags" ng-model="action.tags_list" display-property"text" replace-spaces-with-dashes="false" required></tags-input>
                    <br />
                    <label for="scope">Scope</label>
                    <select id="scope" class="form-control" ng-model="action.scope"
                        ng-init="action.scope = scopes[0].value"
                        ng-options="option.value as option.text for option in scopes">
                        <option value="">-- SELECT A SCOPE --</option>
                    </select>
                    <br />
                    <label for="address">Address</label>
                    <input places-auto-complete id="address" type="text" class="form-control"  ng-model="action.address.formatted" placeholder="Address" component-restrictions="" types="['geocode']" on-place-changed="vm.placeChanged()">
                    <label for="address">{{error.address}}</label>
                    <br/>
                    <ng-map id="map" zoom="8" center="37.774546, -122.433523" map-type-id="" ng-if="render">
                    <marker position="{{pos.lat}},{{pos.lng}}"></marker>
                    </ng-map>
                    <br />
                    <img src="{{ action.image_preview.src }}" style="min-height: 350px; width: 100%;" ng-show="action.image_preview.visible"/>
                    <input id="image_url" type="hidden" ng-model="action.image_url" value="{{ action.image_preview.src }}" />
                    <br /><br />
                    <input type="submit" value="Submit" class="btn btn-primary btn-lg" ng-class="{thinking: formLoading}" />
                </div>
            </form>
            <div class="loader" ng-class="{loading: formLoading}"></div>
        </div>
    </div>
</div>