<div id="content">
	<p style="margin-bottom: 0in"><B>Respond React Terms of Service
	(&quot;Agreement&quot;)</B></p>
	<br />
	<p style="margin-bottom: 0in"><I>This Agreement was last modified on
	September 20, 2013.</I></p>
	<br />
	<p style="margin-bottom: 0in">Please read these Terms of Service
		completely using respondreact.com which is owned and operated by
		Respond React. This Agreement documents the legally binding terms and
		conditions attached to the use of the Site at
	yournowheretownblog.com.</p>
	<br />
	<p style="margin-bottom: 0in">By using or accessing the Site in any
		way, viewing or browsing the Site, or adding your own content to the
		Site, you are agreeing to be bound by these Terms of Service.
	</p>
	<br />
	<p style="margin-bottom: 0in"><span style="text-decoration: underline">Intellectual Property</span></p>
	<br />
	<p style="margin-bottom: 0in">The Site and all of its original
		content are the sole property of Respond React and are, as such,
		fully protected by the appropriate international copyright and other
	intellectual property rights laws.</p>
	<br />
	<p style="margin-bottom: 0in"><span style="text-decoration: underline">Termination</span></p>
	<br />
	<p style="margin-bottom: 0in">Respond React reserves the right to
		terminate your access to the Site, without any advance notice.
	</p>
	<br />
	<p style="margin-bottom: 0in"><span style="text-decoration: underline">Links to Other Websites </span>
	</p>
	<br />
	<p style="margin-bottom: 0in">Our Site does contain a number of links
		to other websites and online resources that are not owned or
	controlled by Respond React.</p>
	<br />
	<p style="margin-bottom: 0in">Respond React has no control over, and
		therefore cannot assume responsibility for, the content or general
		practices of any of these third party sites and/or services.
		Therefore, we strongly advise you to read the entire terms and
		conditions and privacy policy of any site that you visit as a result
		of following a link that is posted on our site.
	</p>
	<br />
	<p style="margin-bottom: 0in"><span style="text-decoration: underline">Governing Law</span></p>
<br />
<p style="margin-bottom: 0in">This Agreement is governed in
	accordance with the laws of New Jersey, United States.
</p>
<br />
<p style="margin-bottom: 0in"><span style="text-decoration: underline">Changes to This Agreement </span>
</p>
<br />
<p style="margin-bottom: 0in">Respond React reserves the right to
modify these Terms of Service at any time. We do so by posting and
drawing attention to the updated terms on the Site. Your decision to
continue to visit and make use of the Site after such changes have
been made constitutes your formal acceptance of the new Terms of
Service.</p>
<br />
<p style="margin-bottom: 0in">Therefore, we ask that you check and
review this Agreement for such changes on an occasional basis. Should
you not agree to any provision of this Agreement or any changes we
make to this Agreement, we ask and advise that you do not use or
continue to access the Respond React site immediately.
</p>
<br />
<p style="margin-bottom: 0in"><span style="text-decoration: underline">Contact Us</span></p>
<br />
<p style="margin-bottom: 0in">If you have any questions about this
Agreement, please feel free to contact us at <a href="mailto:kevin@respondreact.com">kevin@respondreact.com</a>.
</p>
</div>