<div class="topic-detail" ng-init="init()">
	<div class="container-fluid topic-page">
		<div class="row">
			<div class="col-md-2 col-lg-2">
				<!-- Scope -->
				<aside ng-if="topic.address">
					{{topic.scope}}<br />
					<a ng-click="showMap()" target="_blank">VIEW MAP</a>
				</aside>
				<!-- Author -->
				<aside>	
					By: <a href="/user/{{topic.created_by}}">{{topic.username}}</a>
				</aside>
				<!-- Tags -->
				<aside>
					<ul class="tags">
						<li ng-repeat="tag in topic.tags"><a href="/topics/tag/{{tag.slug}}">{{tag.name}}</a></li>
					</ul>
				</aside>
				<!-- Share -->
				<aside>
					<span class="share-label">Share</span>
					<a class="facebook share" target="_blank" analytics-on analytics-event="click" analytics-category="social" analytics-label="facebook" analytics-value="{{topic.id}}" href="https://www.facebook.com/sharer/sharer.php?u={{siteUrl}}/topic/{{topic.id}}">Share on Facebook</a>
					<a class="twitter share" target="_blank" analytics-on analytics-event="click" analytics-category="social" analytics-label="twitter" analytics-value="{{topic.id}}" href="https://twitter.com/home?status={{siteUrl}}/topic/{{topic.id}}">Share on Twitter</a>
				</aside>
			</div>
			<div class="col-md-8 col-lg-8 topic-main">
				<!-- Title -->
				<h1><a class="go" target="_blank" analytics-on analytics-event="click" analytics-category="external" analytics-label="{{topic.article_link}}"  href="{{ topic.article_link }}">{{ topic.title }}</a></h1>
				<!-- Description -->
				<p class="description">{{topic.description}}</p>
				<!-- Image -->
				<a class="topic-image" analytics-on analytics-event="click" analytics-category="external" analytics-label="{{topic.article_link}}" target="_blank" href="{{ topic.article_link }}" style="background-image: url('{{topic.banner}}')"></a>

				<a target="_blank" analytics-on analytics-event="click" analytics-category="external" analytics-label="view_map"  ng-class="{'show' : mapDisplayed}" class="map" href="http://google.com/maps/place/{{topic.address.raw}}" ng-if="topic.address !== null">
					<img class="gmap" src="https://maps.googleapis.com/maps/api/staticmap?center={{topic.address.latitude}},{{topic.address.longitude}}&markers=color:red%7Clabel:%7C{{topic.address.latitude}},{{topic.address.longitude}}&zoom={{mapZoom}}&key={{googleApiKey}}&size=600x350" />
				</a>
			</div>
			<div class="col-md-2 topic-score score">
			<span ng-click="upVoteTopic()" ng-class="" class="glyphicon glyphicon-menu-up upvote"></span>
				<h1>{{topic.score}}</h1>
			</div>
		</div>
	</div>
	<div class="container-fluid actions" id="actions">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 action-list-title nopad">
				<h2 ng-if="topic.action_count == 0">Submit an Action Now
				</h2>
				<h2 ng-if="topic.action_count == 1">
					1 way to get Involved
				</h2>
				<h2 ng-if="topic.action_count > 1">
					<span class="way">{{topic.action_count}}</span> ways to get Involved
				</h2>

				<a ng-if="!isLoggedIn" tooltip-placement="bottom" uib-tooltip="Actions are any causes, rallies, funds, or events pertaining to this topic" class="btn btn-primary btn-lg form-inline submit-action" ng-click="loginPrompt()">Log in to Submit an Action</a>
				<a ng-if="isLoggedIn" tooltip-placement="bottom" uib-tooltip="Actions are any causes, rallies, funds, or events pertaining to this topic" href="/topic/{{topic.id}}/submit-action" class="btn btn-primary btn-lg form-inline submit-action" style="">Submit an action</a>
				<h4 style="margin:.5em 0" ng-if="filter">Showing results tagged: {{filter}} <a href="" ng-click="reset()">[reset]</a></h4>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div id="action-{{action.id}}" class="action row" ng-repeat="action in topic.actions" ng-class="[{'ended' : action.ended}, {'selected': action.selected}]">
			<div class="col-md-2 col-sm-2 col-xs-2 score">
				<span ng-click="upVoteAction($index)" ng-class="" class="glyphicon glyphicon-menu-up upvote"></span>
				<h3>{{action.score}}</h3>
			</div>
			<!-- <div class="col-md-2">
				<a href="{{action.article_link}}" target="_blank"><img src="{{action.image}}" style="width: 100%" /></a>
			</div> -->
			<div class="col-md-5 col-xs-8 col-sm-5 topic-action nopad">
				<h3><a analytics-on analytics-event="click" analytics-category="external" analytics-label="{{action.article_link}}"  href="{{action.article_link}}" target="_blank">{{action.title}}</a></h3>
				<aside>By: <a href="user/{{action.created_by}}">{{action.username}}</a> {{action.created_on | date:fullDate}}</aside>
				<aside ng-if="action.address_raw">Location: {{action.address_raw}}</aside>
				<aside ng-if="action.start_date_time">WHEN: {{action.start_date_time | date:'LLLL dd, yyyy - HH:mm a'}} <span ng-if="action.end_date_time">to {{action.end_date_time | date:'LLLL dd, yyyy - HH:mm a'}}</span></aside>
				<aside ng-repeat="tag in action.tags" class="tag" ng-class="{'last':$last}">
				  <a href="#" ng-click="sortActions(tag.slug, tag.name)">{{tag.name}}</a><span ng-class="{'last':$last}">,</span>&nbsp;
				</aside>
			</div>
			<div class="col-md-3 col-lg-3 col-sm-3 col-xs-10 nopad participate">
				<h3><a class="btn btn-primary go" href="{{action.article_link}}" analytics-on analytics-event="click" analytics-category="external" analytics-label="{{topic.article_link}}" target="_blank">Participate</a></h3>
			</div>
		</div>	
		<div class="clearfix pagination-wrapper row">
			<div class="col-md-2"></div>
			<div class="col-md-8 nopad">
				<!-- <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul> -->
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>