<div class="topic-detail">
	<div class="container-fluid topic-page">
		<div class="row">
			<div class="col-md-2 col-lg-2">
				<!-- Scope -->
				<aside ng-if="topic.address">
					{{topic.scope}}<br />
					<a target="_blank" href="http://google.com/maps/place/{{topic.address.raw}}">VIEW MAP</a>
				</aside>
				<!-- Author -->
				<aside>	
					By: <a href="/user/{{topic.created_by}}">{{topic.username}}</a>
				</aside>
				<!-- Tags -->
				<aside>
					<ul class="tags">
						<li ng-repeat="tag in topic.tags"><a href="/topics/tag/{{tag.slug}}">{{tag.name}}</a></li>
					</ul>
				</aside>
				<!-- Share -->
				<aside>
					<span class="share-label">Share</span>
					<a class="facebook share" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{siteUrl}}/topic/{{topic.id}}">Share on Facebook</a>
					<a class="twitter share" target="_blank" href="https://twitter.com/home?status={{siteUrl}}/topic/{{topic.id}}">Share on Twitter</a>
				</aside>
			</div>
			<div class="col-md-8 col-lg-8 topic-main">
				<!-- Title -->
				<h1><a class="go" href="{{ topic.article_link }}">{{ topic.title }}</a></h1>
				<!-- Description -->
				<p class="description">{{topic.description}}</p>
				<!-- Image -->
				<a class="topic-image" href="{{ topic.article_link }}" style="background-image: url('{{topic.image}}')"></a>
			</div>
			<div class="col-md-2 topic-score score">
				<h1>{{topic.score}}</h1>
			</div>
		</div>
	</div>
	<div class="container-fluid actions">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 action-list-title">
				<h2>
					<ng-pluralize count="topic.action_count" when="{'0':'Submit an Action Now', '1':'1 way to get Involved', 'other':'{{topic.action_count}} ways to get Involved'}" />
				</h2>
				<a href="/topic/{{topic.id}}/submit-action" class="btn btn-primary btn-lg form-inline" style="float:right">Submit an action!</a>
			</div>
			<div class="col-md-2"></div>
		</div>
		
			<div class="action row" ng-repeat="action in topic.actions">
				<div class="col-md-2 score">
					<span ng-click="upVoteAction($index)" ng-class="{upvoted: isUpVoted($index)}" class="glyphicon glyphicon-chevron-up upvote"></span>
					<h3>{{action.score}}</h3>
				</div>
				<div class="col-md-5">
					<h3>{{action.title}}</h3>
					<aside>By: {{action.username}} {{action.created_on | date:fullDate}}</aside>
					<aside ng-if="action.address_raw">Location: {{action.address_raw}}</aside>
					<aside ng-repeat="tag in action.tags" class="tag" ng-class="{'last':$last}">
					  <a href="topics/tag/{{tag.slug}}">{{tag.name}}</a><span ng-class="{'last':$last}">,</span>&nbsp;
					</aside>
				</div>
				<div class="col-md-3">
					<h3><a class="btn btn-primary go" href="{{action.article_link}}" target="_blank">Participate</a></h3>
				</div>
			</div>	

	</div>
</div>
<!--<div class="container-fluid">
	<div class="row">
		<div class="col-md-11">
			<h1><a href="{{ topic.article_link }}">{{ topic.title }}</a></h1>
			<span style="display: inline-block; padding-right: 10px;" class="glyphicon glyphicon-tags"></span>
			<ul style="display: inline-block" class="tags">
				<li ng-repeat="tag in topic.tags"><a href="/topics/tag/{{tag.slug}}">{{tag.name}}</a></li>
			</ul>
		</div>
		<div class="col-md-1">
			<h1 class="topic-score">{{topic.score}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-lg-6">
			<a href="{{ topic.article_link }}"><img style="width: 100%;" src="{{ topic.image }}" /></a>
		</div>
		<div class="col-md-6 col-lg-6">
			<span ng-if="topic.address !== null">
				<img class="gmap" src="https://maps.googleapis.com/maps/api/staticmap?center={{topic.address.latitude}},{{topic.address.longitude}}&markers=color:red%7Clabel:%7C{{topic.address.latitude}},{{topic.address.longitude}}&zoom={{mapZoom}}&key={{googleApiKey}}&size=600x350" />
			</span>
		</div>
	</div>
</div>
<div class="container-fluid back" style="margin-top:2em;">
  <h3 class="banner" ng-if="topic.action_count > 1">{{topic.action_count}} ways to get involved</h3>
  <h3 class="banner" ng-if="topic.action_count <= 1">How to get involved</h3>
  <div class="inner">
	<div class="row">
		<div class="col-md-9">
			<div ng-if="topic.actions.length == 0">
				<p>Actions are how you can get involved. <a href="/topic/{{topic.id}}/submit-action">Submit one now</a> and help others find ways to do their part to help!</p>
			</div>
			<div ng-repeat="action in topic.actions track by $index" class="row" style="margin-top: 1em">
				<div class="col-md-2 col-sm-2" style="text-align: center;">
					<span ng-click="upVoteAction($index)" ng-class="{upvoted: isUpVoted($index)}" class="glyphicon glyphicon-chevron-up upvote action"></span>
					<h3 class="score">{{action.score}}</h3>
				</div>
				<div class="col-md-2 col-sm-2">
					<a href="{{action.article_link}}" target="_blank"><img src="{{action.image}}" style="width: 100%" /></a>
				</div>
				<div class="col-md-6 col-sm-6">
					<a href="{{action.article_link}}" target="_blank">{{action.title}}</a>
					<aside class="error" ng-show="topic.error">{{action.error}}</aside>
					<aside><span ng-if="action.start_date_time != null">Starts: {{action.start_date_time | date:fullDate}}<br /></span> 
					
					<a href="http://maps.google.com/?q={{action.address_raw}}" target="_blank">{{action.address_raw}}</a></aside>
					<p>Submitted by <a href="#/user/{{action.created_by}}">{{action.username}}</a> on {{action.created_on | date : fullDate}}</p>
					<span class="glyphicon glyphicon-tags"></span>
					<div ng-repeat="tag in action.tags" class="tag" ng-class="{'last':$last}"><a href="/actions/tag/{{tag.slug}}">{{tag.name}}</a></div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<a href="/topic/{{topic.id}}/submit-action" class="btn btn-primary btn-lg btn-block">Submit an action!</a>
			<div style="margin: 2em 0;">
				<span class='st_facebook_large' displayText='Facebook'></span>
				<span class='st_twitter_large' displayText='Tweet'></span>
				<span class='st_email_large' displayText='Email'></span>       
			</div>
		</div>
	</div>
</div> -->